*,*::before,*::after{margin:0;padding:0;border:0;outline:0;box-sizing:border-box}
a{color:inherit;text-decoration:none}
ul, ol{list-style:none}
img{display:block;max-width:100%}
svg{fill:currentColor;vertical-align:middle}
input,textarea,select,button{font:inherit}
button{background:0;cursor:pointer}

input[type="text"]::-ms-clear{display:none;width:0;height:0}
input[type="text"]::-ms-reveal{display:none;width:0;height:0}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
input[type="number"]{-moz-appearance:textfield}